body{font-family:Arial;padding:40px;max-width:900px;margin:auto;line-height:1.7;}
h1{font-size:32px;margin-bottom:10px;}
.blog-card{border:1px solid #ddd;padding:20px;border-radius:8px;margin-bottom:20px;transition:0.3s;}
.blog-card:hover{box-shadow:0 4px 12px rgba(0,0,0,.1);}
.blog-card h2{margin-top:0;}
a{text-decoration:none;color:#0055ff;}
.tag{background:#eee;padding:6px 10px;border-radius:6px;font-size:13px;margin-right:5px;}
.priceBox{border:1px solid #ccc;border-radius:8px;padding:10px;margin-top:10px}
.priceRow{display:flex;justify-content:space-between;padding:5px 0;border-bottom:1px solid #eee;}
.priceRow:last-child{border-bottom:none;}
.min{color:green;font-weight:700}

